img {
   border-radius: 8px;
   align-content: center;
   display: flex;
   
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin: 0;

    
  }
  nav a {
    color: black;
    display: block;
    padding: 50px;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

 .bekezdes {
    color: green;

 }

 .focim2 {
    color:aqua;

 }

 #elsoBekezdes {
    text-align: center;
    color:darkblue;
    line-height: 50px;
 }

.elerhetoseg  {
    display:flex;
    justify-content: center;
    align-items: center;
    line-height: 10px;
 }

.copyright {
    display: flex;
    vertical-align: bottom;
    justify-content: center;
    align-items: center;
    
 }
 #MainBekezdes {
   text-align: center;
   color:darkcyan;
   line-height: 100px;
 }
 #H1 {
   font-family: 'Bruno Ace', cursive;
 }
 #H2 {
   font-family: 'Anuphan', sans-serif;
 }
 a[href^="mailto"] { color: black; }